input
{
font-style:calibri;
}
body
{
padding:15px;
align:center;
margin:20px;
}
button
{
background-color:orange;
font-style:calibri;
}
form
{
background-color:yellow;
border:solid;
width:25%;
height:70%;
}
hr
{
color:black;
}